.aboutme{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    justify-content: space-evenly;
    padding: 100px 100px;
    background: rgba(41, 30, 40, 0.5);
    color: white;
    
}
.about-heading{
    color: white;
    text-align: left;
    font-family: Arial, sans-serif; /* Font family */
    

}

.about-headings{
    /* text-align: center; */
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-bottom: 40px;
    

}
.highlight{
    color: #be50f4;
}
.about-text{
    font-size: 1.4rem;
    line-height: 3.5rem;
}

.avatar{
    padding-right: 100px;
    padding-top: 50px;
}
