.aboutme-comp{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    justify-content: space-evenly;
    padding: 100px 100px;
    
    /* background: rgba(36, 24, 35, 0.5); */
    color: white;
    
}
.about-comp-heading{
    color: white;
    text-align: left;
    font-family: Arial, sans-serif; /* Font family */
    

}

.about-comp-headings{
    /* text-align: center; */
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-bottom: 40px;
    

}
.highlight{
    color: #be50f4;
}
.about-comp-text{
    font-size: 1.4rem;
    line-height: 3.5rem;
}

.about-comp-avatar{
    padding-right: 100px;
    padding-top: 50px;
}
